html,
body,
.frame {
  width: 100vw;
  height: 100vh;
}

header {
  /* box-sizing: border-box; */
  width: 100%;
  height: 12%;
  display: flex;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.homeButton {
  position: absolute;
  background-color: #fff;
  border: 0;
  left: 3%;
  top: 3%;
  padding: 0;
}

.homeButton:hover {
  background-color: #ebebeb;
}

.searchBar {
  position: absolute;
  left: calc(3% + 5vw);
  top: calc((12% - 40px) / 2);
}

#searchInput {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #3c4cac;
  border-radius: 38.2809px;
  padding-left: 11px;
}

#searchInput::placeholder {
  font-family: "lateef";
  font-size: 10px;
  color: white;
}

.searchIcon {
  margin-left: -30px;
  color: white;
}

#searchInput:focus {
  outline: none;
}

nav {
  position: absolute;
  width: 150px;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  left: calc(100vw - 180px);
  align-items: center;
}

a:visited {
  color: black;
}

.title {
  display: flex;
  margin-left: calc(50% - (315px / 2));
}

.title > span {
  font-family: "Lateef";
  font-style: normal;
  font-weight: 400;
  font-size: 95px;
}

#u {
  color: red;
}
#n1 {
  color: orange;
}
#i {
  color: yellow;
}
#c {
  color: green;
}
#o {
  color: blue;
}
#r {
  color: #4b0082;
}
#n2 {
  color: purple;
}

aside {
  display: flex;
  width: 100%;
  height: 40px;
  background: #3c4cac;
  justify-content: space-between;
}

.cloths {
  display: flex;
  margin-left: 45px;
  font-family: "lateef";
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 140%;
}

.cloths > div {
  margin-right: 30px;
}

.cloths > div > a {
  color: white;
  text-decoration: none;
}

.access {
  display: flex;
  margin-right: 45px;
  font-family: "inter";
  font-weight: 400;
  font-style: none;
  font-size: 20px;
  line-height: 180%;
}

.access > div {
  margin-left: 30px;
}

.access > div > a {
  color: #c4c4c4;
  text-decoration: none;
}

.pageMove {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.prevButton {
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 50%;
  padding-left: 6px;
}

.nextButton {
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: solid black;
  border-radius: 50%;
  padding-left: 6px;
}
