html,
body,
.frame {
  width: 100vw;
  height: 100vh;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 12%;
  border-bottom: double;
  display: flex;
}

.homeButton {
  position: absolute;
  background-color: #fff;
  border: 0;
  left: 3%;
  top: 3%;
  padding: 0;
}

.homeButton:hover {
  background-color: #ebebeb;
}

.searchBar {
  position: absolute;
  left: calc(3% + 5vw);
  top: calc((12% - 40px) / 2);
}

#searchInput {
  width: 200px;
  height: 30px;
  border: none;
  background-color: #ababab;
  border-radius: 38.2809px;
  padding-left: 11px;
}

#searchInput::placeholder {
  font-family: "lateef";
  font-size: 10px;
  color: white;
}

.searchIcon {
  margin-left: -30px;
  color: white;
}

#searchInput:focus {
  outline: none;
}

nav {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  margin-left: calc(100vw - 180px);
  align-items: center;
}

a:visited {
  color: black;
}
