html,
body,
.frame {
  width: 100vw;
  height: 100vh;
}

header {
  /* box-sizing: border-box; */
  width: 100%;
  height: 12%;
  display: flex;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.homeButton {
  position: relative;
  background-color: #fff;
  border: 0;
  left: 150%;
  top: calc((100% - 36px) / 2);
  padding: 0;
}

.homeButton:hover {
  background-color: #ebebeb;
  border-radius: 7px;
}

.searchBar {
  position: absolute;
  left: calc(3% + 5vw);
  top: calc((12% - 32px) / 2);
}

#searchInput {
  color: white;
  width: 200px;
  height: 30px;
  border: none;
  background-color: #3c4cac;
  border-radius: 38.2809px;
  padding-left: 11px;
}

#searchInput::placeholder {
  font-family: "lateef";
  font-size: 10px;
  color: white;
}

.searchIcon {
  margin-left: -30px;
  color: white;
}

#searchInput:focus {
  outline: none;
}

nav {
  position: absolute;
  width: 150px;
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  left: calc(100vw - 180px);
  align-items: center;
}

a:visited {
  color: black;
}

.title {
  position: relative;
  display: flex;
  margin-left: calc(50% - (278px / 2));
  top: -15%;
}

.title > span {
  font-family: "Lateef", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 95px;
}

#u {
  color: red;
}
#n1 {
  color: orange;
}
#i {
  color: yellow;
}
#c {
  color: green;
}
#o {
  color: blue;
}
#r {
  color: #4b0082;
}
#n2 {
  color: purple;
}

aside {
  display: flex;
  width: 100%;
  height: 40px;
  background: #3c4cac;
  justify-content: space-between;
}

.cloths {
  display: flex;
  margin-left: 45px;
  font-family: "lateef";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 180%;
}

.cloths > div {
  margin-right: 30px;
}

.cloths > div > a {
  color: white;
  text-decoration: none;
}

.access {
  display: flex;
  margin-right: 45px;
  font-family: "inter";
  font-weight: 400;
  font-style: none;
  font-size: 20px;
  line-height: 180%;
}

.access > div {
  margin-left: 30px;
}

.access > div > a {
  color: #c4c4c4;
  text-decoration: none;
}

.pageMove {
  position: relative;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(80% - 40px);
}

.prevButton {
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: solid #888;
  border-radius: 50%;
  padding-left: 6px;
  background: transparent;
}

.prevButton:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 162, 0, 1) 16%,
    rgba(237, 255, 0, 1) 32%,
    rgba(0, 255, 0, 1) 49%,
    rgba(0, 125, 255, 1) 64%,
    rgba(55, 0, 255, 1) 82%,
    rgba(196, 0, 255, 1) 100%
  );
}

.prevButton:active {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 162, 0, 1) 16%,
    rgba(237, 255, 0, 1) 32%,
    rgba(0, 255, 0, 1) 49%,
    rgba(0, 125, 255, 1) 64%,
    rgba(55, 0, 255, 1) 82%,
    rgba(196, 0, 255, 1) 100%
  );
}

.nextButton:hover {
  cursor: pointer;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 162, 0, 1) 16%,
    rgba(237, 255, 0, 1) 32%,
    rgba(0, 255, 0, 1) 49%,
    rgba(0, 125, 255, 1) 64%,
    rgba(55, 0, 255, 1) 82%,
    rgba(196, 0, 255, 1) 100%
  );
}

.nextButton:active {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 162, 0, 1) 16%,
    rgba(237, 255, 0, 1) 32%,
    rgba(0, 255, 0, 1) 49%,
    rgba(0, 125, 255, 1) 64%,
    rgba(55, 0, 255, 1) 82%,
    rgba(196, 0, 255, 1) 100%
  );
}

.nextButton {
  font-size: 25px;
  width: 30px;
  height: 30px;
  border: solid #888;
  border-radius: 50%;
  padding-left: 6px;
}

.pageMove i {
  color: #888;
}

.contents {
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-around;
}

.maincontent {
  width: 24%;
  height: 100%;
  position: relative;
}

.mainlike {
  display: inline-block;
  position: relative;
  top: -12%;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: xx-large;
  padding-left: 11px;
  font-weight: 500;
}

#like1 {
  left: 90%;
}

.fa-heart {
  background-color: transparent;
  font-size: 24px;
}

.likebutton {
  color: red;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.fa-heart.once-beat {
  animation: heartbeat 1s;
  animation-fill-mode: forwards;
}

hr {
  margin: 0;
}

.line {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  border: 0;
  background-color: black;
  height: 2px;
}

.logo {
  margin: 1em 0;
}

#like2 {
  left: 90%;
}

#like3 {
  left: 90%;
}

.sale > p {
  font-family: "League Gothic", sans-serif;
  float: right;
}

.sale {
  padding-right: 0.5em;
  font-size: 2em;
}

.ad {
  margin-top: auto;
}

.ad-image {
  display: block;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #ddd;
}

.footsmall {
  display: flex;
  font-size: 10px;
  line-height: 1em;
}

.footsmall > div {
  margin-top: 1em;
}

.footsmall p {
  color: #888;
  padding: 1px 5px;
}

.ad-name {
  display: flex;
}
