html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: relative;
  border-radius: 50px;
  border: 2px solid #3c4cac;
}

/* 
.signin {
  position: absolute;
  width: 128px;
  height: 64px;
  left: 34px;
  top: 28px;
  vertical-align: middle;
  font-family: "Lateef", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 72px;
  text-decoration: underline 1.5px;
  text-underline-offset: 9px;
  color: #888888;
}

.seeMore {
  position: absolute;
  width: 53px;
  height: 55px;
  left: 285px;
  top: 8px;
}

.seeMore > span {
  position: inherit;
  left: 17.5%;
  top: 7%;
  font-size: 40px;

  color: #888888;
  border-radius: 50px;
}

.seeMore:hover {
  background-color: #d1d1d1;
}

.name {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 43px;
  top: 114px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.nameinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 128px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.id {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 172px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.idinput {
  position: absolute;
  width: 185px;
  height: 30px;
  left: 29px;
  top: 186px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.idinput::placeholder {
  width: 111px;
  height: 13px;
  left: 43px;
  top: 195px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #888888;
}

.DuplicateID {
  position: absolute;
  width: 51px;
  height: 22px;
  left: 257px;
  top: 190px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
}

.DuplicateID > span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 25%;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.password {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 237px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 252px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.passwordinput::placeholder {
  width: 185px;
  height: 18px;
  left: 43px;
  top: 261px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordcheck {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 307px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordDiff {
  display: none;
  position: absolute;
  left: 43px;
  top: calc(321px + 30px + 1em);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #888888;
}

.passwordcheckinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 321px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.email {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 380px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.emailfront {
  position: absolute;
  width: 101px;
  height: 30px;
  left: 29px;
  top: 395px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 20px;
}

.emailmiddle {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 165px;
  top: 402px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  color: #888888;
}

#emailbox {
  position: absolute;
  width: 131px;
  height: 30px;
  left: 191px;
  top: 395px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  appearance: none;
  padding-left: 20px;
  color: #888888;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

#emailbox > option {
  position: absolute;
  width: 83px;
  height: 14px;
  left: 209px;
  top: 403px;
  color: #888888;
}

#arrow {
  position: absolute;
  left: 300px;
  top: 404px;
  width: 0;
  height: 0;
  border-left: 6.5px solid transparent;
  border-right: 6.5px solid transparent;
  border-bottom: 13px solid #bfbfbf;
  transform: scaleY(-1);
  pointer-events: none;
}

.gender {
  position: absolute;
  width: 102px;
  height: 12px;
  left: 43px;
  top: 450px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

#genderinput {
  box-sizing: border-box;

  position: absolute;
  width: 15px;
  height: 15px;
  left: 39px;
  top: 469px;

  background: #d9d9d9;
  border: 1px solid #888888;
  accent-color: #888888;
}

#genderinput2 {
  box-sizing: border-box;

  position: absolute;
  width: 15px;
  height: 15px;
  left: 100px;
  top: 469px;

  background: #d9d9d9;
  border: 1px solid #888888;
  accent-color: #888888;
}

.gendertext1 {
  position: absolute;
  width: auto;
  height: auto;
  left: 57px;
  top: 470px;
  padding-left: 2%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #888888;
}

.gendertext2 {
  position: absolute;
  width: auto;
  height: auto;
  left: 117px;
  top: 470px;
  padding-left: 2%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #888888;
}

.LoginButton {
  position: absolute;
  width: 151px;
  height: 36px;
  left: calc((100% - 151px) / 2);
  top: calc((100% - 86px));
  border: 0;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.SigninButton {
  position: absolute;
  width: 101px;
  height: 29px;
  left: 232px;
  top: 510px;
  border: 0;
  background-color: #e3e3e3;
  border-radius: 10px;
}

.SigninButton > span {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #888888;
}

.LoginButton > span {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #888888;
}

button:hover {
  background-color: #d1d1d1;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

input {
  color: #888888;
} */

.frame {
  width: 480px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.signin {
  position: relative;
  width: auto;
  height: auto;
  left: 10%;
  top: 4%;
  vertical-align: middle;
  font-family: "Jost", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 72px;
  text-decoration: underline 1.5px;
  text-underline-offset: 3px;
  text-decoration-color: #3c4cac;
  color: #000;
}

.idFrame {
  position: relative;
  top: 1%;
}

.id {
  position: relative;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.idinput {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  border: none;
  border-bottom: 1px solid #3c4cac;
  outline: none;
  width: 230px;
  height: 18px;
  margin-top: 10px;
  padding-left: 9px;
}

.Frame {
  position: relative;
  left: 15%;
  font-size: 10px;
}

.Frame > input {
  position: relative;
  margin-left: 10px;
}

.Frame > div > input {
  position: relative;
  margin-left: 10px;
}

.passwordDiff {
  display: none;
  position: relative;
  color: #ff0000;
  top: 8%;
  left: 8%;
}

.DuplicateID {
  position: relative;
  top: 10%;
  background: #505dac;
  border-radius: 20px;
  border: none;
  height: 28px;
  width: auto;
  margin-left: 15px;
}

.DuplicateID:hover {
  cursor: pointer;
}

.DuplicateID > span {
  display: inline-block;
  font-family: "Lateef";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 5px;
  color: #ffffff;
}

.idinput::placeholder {
  color: #505dac;
}

.passwordinput {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  border: none;
  border-bottom: 1px solid #3c4cac;
  outline: none;
  width: 230px;
  height: 18px;
  margin-top: 10px;
  padding-left: 9px;
}

.passwordinput::placeholder {
  color: #505dac;
}

.passwordcheckinput {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  border: none;
  border-bottom: 1px solid #3c4cac;
  outline: none;
  width: 230px;
  height: 18px;
  margin-top: 10px;
  padding-left: 9px;
}

.passwordCK {
  margin-top: 10px;
}

.nameinput {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  border: none;
  border-bottom: 1px solid #3c4cac;
  outline: none;
  width: 120px;
  height: 18px;
  margin-top: 10px;
  padding-left: 9px;
}

.emailfront {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  border: none;
  border-bottom: 1px solid #3c4cac;
  outline: none;
  width: 120px;
  height: 18px;
  margin-top: 10px;
  padding-left: 9px;
}

#selectcontroler {
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#emailbox > option {
  border: 1px solid blue;
  border-radius: 0.5em !important ;
}

.emailmiddle {
  position: relative;
  display: inline-block;
  font-size: 16px;
  top: 10px;
}

#emailbox {
  border: none;
  border-bottom: #3c4cac 1px solid;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #3c4cac;
  outline: none;
  height: 18px;
  margin-top: 13px;
}

.genderinput {
  top: 10px;
}

.gendertext {
  position: relative;
  top: 12px;
}

.genderinputFrame {
  position: relative;
}

.LoginSigninButton {
  top: -15px;
  position: relative;
  left: 68%;
}

.SigninButton {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #3c4cac;
  border-radius: 50px;
  padding: 0 15px 0 15px;
}

.SigninButton,
.LoginButton:hover {
  cursor: pointer;
}

.LoginButton {
  background: #3c4cac;
  border-radius: 50px;
  border: none;
  padding: 0 15px 0 15px;
}

.SigninButton > span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}

.a {
  text-decoration: none;
}

.LoginButton > span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.idDup {
  display: none;
  position: relative;
  left: 8%;
  top: 8%;
  color: #00930f;
}
