html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  position: relative;
  width: 350px;
  height: 677px;
  background: #d9d9d9;
}

.signin {
  position: absolute;
  width: 128px;
  height: 64px;
  left: 34px;
  top: 28px;
  vertical-align: middle;
  font-family: "Lateef", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 72px;
  text-decoration: underline 1.5px;
  text-underline-offset: 9px;
  color: #888888;
}

.seeMore {
  position: absolute;
  width: 53.5px;
  height: 55px;
  left: 285px;
  top: 8px;
  border-radius: 1em;
}

.seeMore:hover {
  background-color: #d1d1d1;
}

.name {
  position: absolute;
  width: 55px;
  height: 24px;
  left: 43px;
  top: 114px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.nameinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 128px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.id {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 172px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.idinput {
  position: absolute;
  width: 185px;
  height: 30px;
  left: 29px;
  top: 186px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.idinput::placeholder {
  width: 111px;
  height: 13px;
  left: 43px;
  top: 195px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #888888;
}

.DuplicateID {
  position: absolute;
  width: 51px;
  height: 22px;
  left: 257px;
  top: 190px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
}

.DuplicateID > span {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 25%;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.password {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 237px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordiinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 252px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.passwordiinput::placeholder {
  width: 185px;
  height: 18px;
  left: 43px;
  top: 261px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordcheck {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 307px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.passwordcheckinput {
  position: absolute;
  width: 248px;
  height: 30px;
  left: 29px;
  top: 321px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 30px;
}

.email {
  position: absolute;
  width: 102px;
  height: 19px;
  left: 43px;
  top: 380px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

.emailfront {
  position: absolute;
  width: 101px;
  height: 30px;
  left: 29px;
  top: 395px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  padding-left: 20px;
}

.emailmiddle {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 165px;
  top: 402px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;

  color: #888888;
}

#emailbox {
  position: absolute;
  width: 131px;
  height: 30px;
  left: 191px;
  top: 395px;
  border: 0;
  background: #e3e3e3;
  border-radius: 20px;
  appearance: none;
  padding-left: 20px;
  color: #888888;
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

#emailbox > option {
  position: absolute;
  width: 83px;
  height: 14px;
  left: 209px;
  top: 403px;
  color: #888888;
}

#arrow {
  position: absolute;
  left: 300px;
  top: 404px;
  width: 0;
  height: 0;
  border-left: 6.5px solid transparent;
  border-right: 6.5px solid transparent;
  border-bottom: 13px solid #bfbfbf;
  transform: scaleY(-1);
  pointer-events: none;
}

.gender {
  position: absolute;
  width: 102px;
  height: 12px;
  left: 43px;
  top: 450px;

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #888888;
}

#genderinput {
  box-sizing: border-box;

  position: absolute;
  width: 15px;
  height: 15px;
  left: 39px;
  top: 469px;

  background: #d9d9d9;
  border: 1px solid #888888;
  accent-color: #888888;
}

#genderinput2 {
  box-sizing: border-box;

  position: absolute;
  width: 15px;
  height: 15px;
  left: 100px;
  top: 469px;

  background: #d9d9d9;
  border: 1px solid #888888;
  accent-color: #888888;
}

.gendertext1 {
  position: absolute;
  width: auto;
  height: auto;
  left: 57px;
  top: 470px;
  padding-left: 2%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #888888;
}

.gendertext2 {
  position: absolute;
  width: auto;
  height: auto;
  left: 117px;
  top: 470px;
  padding-left: 2%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #888888;
}

.LoginSigninButton {
  position: absolute;
  width: 217px;
  height: 50px;
  left: 65px;
  top: 575px;
  border: 0;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.LoginSigninButton > span {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;

  color: #888888;
}

button:hover {
  background-color: #d1d1d1;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}
